@model COMP2001_ASP.NET_Coursework_Application.Models.User

<div class="container-fluid" mt-1 px-1">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-border-primary mb-3">
                <div class="card-header bg-primary text-white">Delete Users</div>
                <div class="card-body">
                    <form asp-controller="DeleteUser" asp-action="DeleteUser" method="delete">
                        <div class="mb-3 row">
                            <label for="inputId" class="col-sm-2 col-form-label">User ID</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputId">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Delete User</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @{
        if ((ViewBag.Success != null) && ((int)ViewBag.Success != 0))
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="card bg-success mb-3">
                        <div class="card-header bg-success text-white">
                            User Has Been Deleted
                        </div>
                    </div>
                </div>
            </div>

        }
    }

</div>