@model COMP2001_ASP.NET_Coursework_Application.Models.User

<div class="container-fluid" mt-1 px-1">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-border-primary mb-3">
                <div class="card-header bg-primary text-white">Register User</div>
                <div class="card-body">
                    <form asp-controller="Register" asp-action="Register" method="post">
                        <div class="row mb-3">
                            <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputFirstName3">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputLastName3">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail4" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail4">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-10 offset-sm-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    <label class="form-check-label" for="gridCheck1">
                                        Remember Me?
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>